# Basics
*.py[cod]
*.pyc
__pycache__

#ugly dev notes
personalNotes

#raw GIS data repo. It have to be somewhere
rawShpData

#.vagrant directory is created by vagrant up command, with the VagrantFile 
.vagrant

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache
